
Link for query ip
<br>
<a href="{{ path('ip_store_query') }}">http://localhost:8000/ip-store/query</a>

<br>
<br>
Link for add ip
<br>
<a href="{{ path('ip_store_add') }}">http://localhost:8000/ip-store/add</a>

