
Querying IP addresses (IPv4 and IPv6)
<br>
<form action="{{ path('ip_store_query') }}">
    <input type="text" value="{{ ip }}" name="ip">
    <input type="submit">
</form>
{% if errors is not null %}
    {{ errors }}
{% endif %}

{% if ipCount is not null %}
    was stored {{ ipCount }} times
{% endif %}
